{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
	<div id="fond_titre">
        <h1>Mon compte</h1>
    </div>

    <div>
        
    </div>
{% endblock %}
