/* HEADER */
#header svg {
    width: 32px;
    height: 32px;
}

#header_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: #16150f;
    padding: 0.4% 0;
}

#header_top svg {
    color: white;

}

#header_a_logo {
    position: relative;
    right: 8%;
}

#header_top img {
    width: 25%;
}

#header_icon_barre_recherche {
    display: flex;
    flex-direction: row;
    margin-right: 2.5%;
}

#header_btn_recherche svg {
    width: 24px;
    height: 24px;
}

#header_icon_panier {
    width: 30px !important;
    height: 30px !important;
}

#header_icon_panier, #header_icon_user {
    margin: 0 10px;
}

#header_barre_btn_recherche {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

#header_input_recherche {
    padding: 0;
    border: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    padding: 0 5px 0 5px;
}

#header_btn_recherche {
    background-color: #16150f;
    border: 0px;
    border-radius: 0 10px 10px 0;
}

#header_nav {
    background-color: #ffba00;
    padding: 30px 0;
}

#heaver_nav_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 0;
}

.heaver_nav_li a {
    text-decoration: none;
    color: #16150f;
    letter-spacing: 3px;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 19px;
}

#header_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 0;
}

#header_bottom div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_bottom p {
    margin: 0;
    margin-left: 15px;
    font-family: 'Quicksand';
    font-weight: 400;
}

#header_bottom svg {
    width: 28px;
    height: 28px;
}

#header_bottom_phone {
    width: 24px !important;
    height: 24px !important;
}

/* FOOTER */
#footer {
    background-color: #16150f;
    padding: 20px 0;
    font-family: 'Quicksand';
    font-weight: 750;
}

#footer_all {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer a, #footer p, #footer svg {
    color: #888888;
    text-decoration: none;
}

#footer a:hover, #footer_text_mail:hover {
    color: rgb(228, 171, 13);
}

#footer h3 {
    color: white;
}

#footer_slogan {
    margin-top: 5px;
}

#footer_logo_slogan img {
    width: 40%;
}

#footer_haut {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#footer_logo_slogan, #footer_compte, #footer_compte, #footer_informations {
    width: 20%;
}

#footer_plus, #footer_compte {
    display: flex;
    flex-direction: column;
}

#footer_informations div {
    display: flex;
    flex-direction: row;
}

#footer_informations svg {
    margin-right: 5px;
}

#footer_adresse svg {
    width: 60px;
    padding-top: 5px;
}

#footer_mail svg {
    width: 28px;
    padding-top: 5px;
}

#footer_adresse, #footer_mail {
    display: flex;
    align-items: start;
}

#footer_bas {
    border-top: 1px solid #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#footer_bas p {
    margin-top: 10px;
}

#footer_reseaux {
    display: flex;
    flex-direction: row;
}

#footer_reseaux div {
    margin: 0 5px;
}

#footer_facebook svg:hover {
    color: #3b5998 !important;
}

#footer_pinterest svg:hover, #footer_instagram svg:hover {
    color: #c8232c !important;
}

/* ACCUEIL */
.publicite {
    width: 100%;
}

#accueil_top_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#accueil_top_categories h2 {
    font-family: 'Lora';
    color: #16150f;
    font-weight: 550;
    font-size: 40px;
    margin: 10px 0 0 0;
    width: 70%;
}

.icon_ciseaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.icon_ciseaux hr {
    width: 100%;
}

.icon_ciseaux svg {
    color: #cfa01d;
    width: 80px;
    height: 80px;
    transform: rotate(90deg);
    margin: 0 10px;
}

#accueil_categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.accueil_categorie {
    width: 150px;
    height: auto;
    text-align: center;
}

.accueil_categorie a {
    text-decoration: none;
}

.accueil_categorie h4 {
    color: #16150f;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.accueil_categorie img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

#accueil_offre_mois_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#accueil_offre_mois_all h2 {
    font-family: 'Lora';
    color: #16150f;
    font-weight: 550;
    font-size: 40px;
    margin: 10px 0 0 0;
    width: 70%;
}

#accueil_offre_mois {
    display: flex;
    justify-content: center;
}

#accueil_offre_mois div:first-child {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 15px;
}

#accueil_offre_mois_gauche, #accueil_offre_mois_droite {
    width: 50% !important;
}

#accueil_offre_mois_droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    font-family: 'Quicksand';
    font-weight: 600;
    text-align: center;
    height: 100%;
    padding: 0 10px;
}

#accueil_offre_mois_droite h4 {
    color: #d82963;
    font-weight: 700;
    margin-bottom: 20px;
}

#accueil_top_produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#accueil_top_produit h2 {
    font-family: 'Lora';
    color: #16150f;
    font-weight: 550;
    font-size: 40px;
    margin: 10px 0 0 0;
    width: 70%;
}

#accueil_produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.accueil_produit {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.accueil_produit:hover {
    background-color: #f8f8f8;
}

.accueil_produit a {
    text-decoration: none;
}

.accueil_produit p {
    color: #16150f;
    font-family: 'Quicksand';
    margin: 0;
}

.accueil_produit img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.accueil_produit_lib {
    font-weight: 350;
    font-size: 20px;
}

.accueil_produit_prix {
    font-weight: 700;
    font-size: 16px;
}

.accueil_produit button {
    background-color: #c5874a;
    color: white;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;

}

#accueil_info_fond {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 40px;
}

#accueil_info {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 40px;
}

#accueil_info_paiement, #accueil_info_retour {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#accueil_info svg {
    color: #cfa01d;
    width: 36px;
    height: 36px;
    margin-bottom: 10px;
}

#accueil_info {
    color: #16150f;
    font-family: 'Quicksand';
}

#accueil_info h5 {
    font-size: 20px;
    font-weight: 600;
}

#accueil_info p {
    font-size: 14px;
    font-weight: 400;
}

#publicite_instagram_all {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    margin-top: 40px;
}

#publicite_instagram {
    width: 70%;
    text-align: center;
    color: #16150f;
    font-family: 'Quicksand';

}

#publicite_instagram h3 {
    font-weight: 550;
    margin-bottom: 10px;
}

#publicite_instagram a {
    text-decoration: none;
    border: 1px solid #16150f;
    color: #16150f;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
}

#publicite_instagram a:hover {
    background-color: #16150f;
    color: white;
}

/* RUBRIQUE */
#fond_titre {
    background-color: #f8f8f8;
    text-align: center;
    padding: 15px 0;
}

#fond_titre h1 {
    font-family: 'Quicksand';
    font-size: 28px;
    letter-spacing: 2px;
    margin: 0;
}

#page_rubrique_all {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#page_rubrique {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 60%;
}

#nvx_produits {
    width: 25%;
    border: #cecece 1px solid;
    padding: 15px;
}

#nvx_produits h5 {
    font-family: 'Quicksand';
    font-weight: 700;
}

#nvx_produits #gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nvx_produit div:first-child {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.nvx_produit img {
    width: 70px;
    height: 90px;
    object-fit: cover;
}

.nvx_produit a {
    text-decoration: none;
    color: #16150f;
}

.nvx_produit p {
    margin: 0;
}

.nvx_produit_lib {
    margin-left: 5px !important;
}

.nvx_produit_prix {
    margin-top: 5px !important;
    margin-left: 5px !important;
    font-weight: 700;
}

#rubriques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
    margin-left: 20px;
}

.rubrique {
    width: 150px;
    height: auto;
    text-align: center;
}

.rubrique:hover img {
    border: 1px solid #16150f;
}

.rubrique:hover a {
    color: #16150f;
}

.rubrique img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border: 1px solid #acacac;
}

.rubrique a {
    text-decoration: none;
    color: #acacac;
}

.rubrique h5 {
    text-wrap: wrap;
}

/* PRODUIT */
#page_produit_all {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#page_produit {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 80%;
}

#page_produit #nvx_produits {
    width: 20% !important;
}

#produits {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 20px;
}

.produit {
    text-align: center;
    padding-bottom: 5px;
    width: 20%;
    margin-bottom: 20px;
    margin: 0 5px;
}

.produit:hover {
    background-color: #f8f8f8;
}

.produit a {
    text-decoration: none;
}

.produit p {
    color: #16150f;
    font-family: 'Quicksand';
    margin: 0;
}

.produit img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.produit_lib_desc_prix {
    text-align: center;
}

.produit_lib {
    font-weight: 500;
    font-size: 20px;
}

.produit_prix {
    font-weight: 700;
    font-size: 16px;
}

.produit button {
    background-color: #c5874a;
    color: white;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

/* DETAILS PRODUITS */
#page_detail_all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page_detail_produit {
    width: 50%;
}

#detail_produit_all {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#detail_produit_all h5 {
    font-family: 'Quicksand';
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
}

#detail_produit_all div:nth-child(1) {
    width: 350px;
    height: 450px;
}

#detail_produit_all img {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

#detail_produit_desc_prix_btn {
    margin-left: 20px;
}

#detail_produit_prix_all {
    display: flex;
    flex-direction: row;
    align-items: end;
    font-family: 'Quicksand';
    color: #16150f;
    font-size: 24px;
    font-weight: 600;
}

#detail_produit_prix_ht {
    font-size: 20px;
    font-weight: 350;
}

#detail_produit_desc {
    font-family: 'Quicksand';
    font-size: 18px;
    width: 70%;
}

#detail_produit_btn_panier {
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 500;
    background-color: #16150f;
    border: 0;
    padding: 10px 20px;
    margin-left: 20px;
}

#detail_produit_btn_panier a {
    color: white;
    text-decoration: none;
}

#detail_produit_btn_panier:hover {
    background-color: #ffba00;
}

#detail_produit_btn_panier:hover a {
    color: #16150f;
}

#page_detail_nvx_produits_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

#page_detail_nvx_produits_all h2 {
    font-family: 'Lora';
    color: #16150f;
    font-weight: 550;
    font-size: 40px;
    margin: 10px 0 0 0;
    width: 70%;
}

#page_detail_nvx_produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.page_detail_nvx_produit {
    text-align: center;
    padding-bottom: 5px;
}

.page_detail_nvx_produit:hover {
    background-color: #f8f8f8;
}

.page_detail_nvx_produit a {
    text-decoration: none;
}

.page_detail_nvx_produit p {
    color: #16150f;
    font-family: 'Quicksand';
    margin: 0;
}

.page_detail_nvx_produit img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.page_detail_nvx_produit_lib {
    font-weight: 350;
    font-size: 20px;
}

.page_detail_nvx_produit_prix {
    font-weight: 700;
    font-size: 16px;
}

.page_detail_nvx_produit button {
    background-color: #c5874a;
    color: white;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin-top: 10px;

}

/* PANIER */
#page_panier {
    display: flex;
    justify-content: center;
}

#panier_all {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 60%;
    gap: 20px;
    margin-top: 40px;
}

#panier_gauche {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #16150f;
    width: 60%;
}

.panier_contenue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panier_img_lib {
    display: flex;
    flex-direction: row;

}

.panier_img {
    width: 100px;
    height: 125px;
}

.panier_lib {
    font-family: 'Quicksand';
    margin-left: 10px;
    margin-top: 10px;
}

.panier_lib h3 {
    font-size: 24px;
}

.panier_lib p {
    font-weight: 700;
}

.panier_img img {
    width: 100px;
    height: 125px;
    object-fit: cover;
}

.panier_qte_btn_prix_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

.panier_qte_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #16150f;
    height: 50%;
}

.panier_qte {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Quicksand';
    margin: 0 10px;
}

.panier_qte p {
    margin: 0;
}

.panier_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.panier_btn a {
    background-color: #acacac;
    color: #16150f;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.panier_btn a:hover {
    background-color: #9e9e9e;
}

.panier_total_produit p {
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
}

.panier_icon_trash a {
    text-decoration: none;
    color: #16150f;
}

.panier_icon_trash svg {
    width: 20px;
    height: 20px;
}

#panier_droite {
    border: 1px solid #16150f;
    width: 40%;
}

#panier_prix_total_all {
    margin: 10px 20px 0px 20px;
}

#panier_prix_total_all div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#panier_btn_valide {
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: #16150f;
    border: 0;
    padding: 10px 20px;
}

#panier_btn_valide:hover {
    background-color: #ffba00;
}

#panier_btn_valide a {
    text-decoration: none;
    color: white;
}

#panier_btn_valide:hover a {
    color: #16150f;
}

/*Contact*/
#page_form_contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

#page_contact_informations {
    width: 15%;
    border: 1px solid #9e9e9e;
    padding: 10px;
}

#page_contact_titre_informations {
    font-family: 'Quicksand';
}

#page_contact_informations svg {
    width: 50px;
    height: 50px;
    color: #9e9e9e;
}

#page_contact_informations #icon_mail {
    width: 20px;
    height: 20px;
}

#page_contact_informations_adresse, #page_contact_informations_mail {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#page_contact_informations_adresse {
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 1rem;
}

#form_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #9e9e9e;
    padding: 5px 20px 0 20px;
}

.form_contact_btn {
    width: 100%;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    background-color: #16150f;
    color: white;
    border: 0;
    margin: 10px 0;
}

.form_contact_btn:hover {
    background-color: #ffba00;
    color: #16150f;
}

/* CONNEXION */
#page_connexion {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#form_connexion h2 {
    font-family: 'Quicksand';
}

#page_connexion_all {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 20px;
}

#form_connexion {
    width: 50%;
    text-align: center;
}

#form_connexion_all {
    border: #cecece 1px solid;
}

#form_connexion #formulaire {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 0px 10px;
    margin-bottom: 10px;
    border-bottom: #cecece 1px solid;
}

#form_connexion #formulaire button {
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    background-color: #16150f;
    color: white;
    border: 0;
    margin: 10px 0;
}

#form_connexion #formulaire button:hover {
    background-color: #ffba00;
    color: #16150f;
}

.form_label_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    font-family: 'Quicksand';
}

.form_label_input input {
    width: 50%;
    margin: 5px 0;
}

#form_btn_connexion_incription {
    margin-bottom: 10px;
}

#form_btn_connexion_incription a {
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 18px;
    color: #9e9e9e;
    margin-bottom: 10px;
}

/* INSCRIPTION */
#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#inscription h2 {
    font-family: 'Quicksand';
}

#page_inscription {
    width: 30%;
}

#page_inscription_all {
    border: #cecece 1px solid;
}

#page_inscription_all {
    text-align: center;
    padding: 10px;
}

#page_inscription_all div:nth-child(1) div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
    font-family: 'Quicksand';
    text-align: center;
    margin: 5px 0;
}

#page_inscription_all div input {
    width: 50%;
    margin-left: 10px;
}

#form_btn_incription button {
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 500;
    background-color: #16150f;
    color: white;
    border: 0;
    margin: 10px 0;
}

#form_btn_incription button:hover {
    background-color: #ffba00;
    color: #16150f;
}

.condition_utilisation {
    text-wrap: wrap;
}

.case {
    display: flex;

}






















.short-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  
}

/*css page new produit et Rubrique*/
.new{
    margin: 0px;
    padding: 0px;
    background-image: url(https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;}