{% extends 'base.html.twig' %}

{% block title %}SousRubrique
{% endblock %}

{% block body %}

	<h1>{{rubrique.nom}}</h1>

	<p>Liste des SR</p>
	{% for SousRubrique in sousRubriques %}
		<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">

			<a href="{{ path('app_produit', { sousrubrique: SousRubrique.id }) }}">
				<div class="card" style="">
					<img src="{{ asset('/assets/image/') ~ SousRubrique.image}} " class="card-img-top"/>

					<div class="card-body" style="width: 500px">
						<h5 class="card-title">{{SousRubrique.nom}}</h5>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}

{% endblock %}
